# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Translations
*.mo
*.po
*.pot

# Excluded Addons
community-addons
community-addons/
enterprise-addons/
extra-addons/l10n_cu_opermix_hr/
extra-addons/l10n_opermix_calendar/