<?xml version="1.0" encoding="utf-8"?>

<odoo>
    <data>
        <!-- ======================================================================================
		ROOT MENU FOR PRODUCTS
		=========================================================================================== -->

        <menuitem name="Products" id="atm_product_product_root_menu"/>
    </data>
</odoo>