// Estilos específicos de computadoras
.ict-kanban-card .card-body .icon-wrapper .icon-circle {
    &.icon-laptop { background: linear-gradient(135deg, #667eea, #764ba2); color: white; font-size: 2rem;}
    &.icon-desktop { background: linear-gradient(135deg, #f093fb, #f5576c); color: white; }
    &.icon-server { background: linear-gradient(135deg, #4facfe, #00f2fe); color: white; }
}